---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Cards from '../components/Cards.astro';
---

<Layout tittle="Proyecta Tu Vida">
	<Header></Header>
	<!-- Imagen principal -->
	<main class="bg-white">
		<div class="min-h-[775px] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center">
			<div class="flex flex-col justify-center items-center drop-shadow-xl">
				<h2 class="julius-sans-one-regular text-8xl text-black  font-extrabold drop-shadow-[0_45px_45px_rgba(0,0,0,4)] ">PROYECTA TU VIDA</h2>
				<p class="mt-14 archivo-narrow text-black text-2xl font-light p-1 px-2">Todas tus metas están al alcance de tu determinacion</p>
			</div>
		</div>
		<div></div>
	</main>
	<!-- 1ra Seccion -->
	<section class="mt-56 flex justify-center items-center gap-20">
		<Cards>
			<img src="../../public/earth.svg" alt="" slot="svg" class="size-44">
			<h1 slot="title">Lorem</h1>
			<p slot="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos optio commodi eius molestias, consectetur, recusandae aperiam doloremque natus, mollitia nihil amet. Magni inventore nostrum veritatis quos nisi ducimus nam facere.</p>
		</Cards>
		<Cards>
			<img src="../../public/book.svg" alt="" slot="svg" class="size-44">
			<h1 slot="title">Lorem</h1>
			<p slot="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos optio commodi eius molestias, consectetur, recusandae aperiam doloremque natus, mollitia nihil amet. Magni inventore nostrum veritatis quos nisi ducimus nam facere.</p>
		</Cards>
		<Cards>
			<img src="../../public/smile.svg" alt="" slot="svg" class="size-44">
			<h1 slot="title">Lorem</h1>
			<p slot="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos optio commodi eius molestias, consectetur, recusandae aperiam doloremque natus, mollitia nihil amet. Magni inventore nostrum veritatis quos nisi ducimus nam facere.</p>
		</Cards>
	</section>
	<!-- 2da Seccion -->
	<section class="bg-white mt-56 border border-black">
		<div class="">
			<div class="h-[180px] "></div>
			<div class="flex justify-between mx-52">
				<img src="../../public/encues.svg" alt="" class="">
				<div class="flex flex-col justify-center gap-[15px]">
					<h6 class="julius-sans-one-regular text-4xl	">Conoce tu condicion actual</h6>
					<p class="archivo-narrow text-xl">Realiza un pequeño cuestionario que nos permita evaluar tu condicion academica.</p>
					<div class="h-[25px]"></div>
					<div class="inline-block">
						<button class="bg-[#107361] text-white py-2 px-3 rounded-3xl text-xl archivo-narrow" onclick="window.location.href = 'quest'">Realizar cuestionario</button>
						<button class="bg-[#107361] text-white py-2 px-3 rounded-3xl text-xl archivo-narrow" onclick="window.location.href = 'text'">Preview caja de texto</button>
					</div>
				</div>
			</div>
			<div class="h-[180px] "></div>
		</div>
	</section>
	<footer class="text-white p-16 flex flex-col items-center ">
		<div class="flex  justify-center gap-3">
			<p>_______________________________________________________________</p>
			<div class="flex gap-3">
				<img src="/public/facebook.svg" alt="">
				<img src="/public/github.svg" alt="">
				<img src="/public/link.svg" alt="">
				<img src="/public/twitter.svg" alt="">
				<img src="/public/inst.svg" alt="">
			</div>
			<p>_______________________________________________________________</p>
		</div>
		<h1 class="julius-sans-one-regular text-2xl mt-8">PROYECTA TU VIDA</h1>
		<p class="archivo-narrow mt-3">Copyrigth © 2024 Rioters Inc.</p>
	</footer>
</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
	
</style>
