---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Cards from '../components/Cards.astro';
import Chart from 'chart.js/auto';

---
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script><Layout tittle="Proyecta Tu Vida">
	<Header></Header>
	<!-- Imagen principal -->
	<main class="bg-white">
		<div class="min-h-[775px] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center bg-[url('/public/salon.svg')] ">
			<div class="flex flex-col justify-center items-center drop-shadow-2xl mb-16">
				<h2 class="julius-sans-one-regular text-8xl text-white  font-black filter font" style="filter: drop-shadow(5px 5px 1px #000000);">PROYECTA TU VIDA</h2>
				<p class="mt-14 archivo-narrow text-white text-2xl font-medium p-1 px-2" >Todas tus metas están al alcance de tu determinacion</p>
			</div>
		</div>
		<div></div>
	</main>
	<!-- 1ra Seccion -->
	<section class="mt-56 flex justify-center items-center gap-20">
		<Cards>
			<img src="../../public/motivacion.avif" alt="" slot="svg" class="size-44">
			<h1 slot="title" class="font-semibold">Motivación </h1>
			<p slot="content">Estudiar puede ser desafiante, pero cada paso te acerca a tus sueños. Cada libro que lees y tarea que completas te acerca al éxito. Mantén la determinación y recuerda por qué comenzaste. Tu esfuerzo de hoy es una inversión en tu futuro. ¡Tú puedes lograrlo!</p>
		</Cards>
		<Cards>
			<img src="../../public/perseverancia.jpg" alt="" slot="svg" class="size-44">
			<h1 slot="title" class="font-semibold">Perseverancia</h1>
			<p slot="content">La perseverancia en los estudios nos lleva al éxito. A pesar de los desafíos, sigamos adelante. Cada paso nos acerca a nuestros sueños. Aprendamos de los errores y sigamos avanzando con determinación. Con esfuerzo, alcanzaremos nuestras metas académicas. ¡Juntos hacia un futuro brillante!</p>
		</Cards>
		<Cards>
			<img src="../../public/apoyo.avif" alt="" slot="svg" class="size-44">
			<h1 slot="title" class="font-semibold">Apoyo emocional</h1>
			<p slot="content">El apoyo emocional es fundamental. Nos fortalece en momentos difíciles, nos motiva a seguir adelante y nos brinda consuelo en tiempos de necesidad. Con el apoyo de quienes nos rodean, podemos superar desafíos y alcanzar nuestras metas con mayor confianza y determinación.</p>
		</Cards>
	</section>
	<!-- 2da Seccion -->
	<section class="bg-white mt-56 " id="user">
		<div class="">
			<div class="h-[180px] "></div>
			<div class="flex justify-between mx-52">
				<img src="../../public/encues.svg" alt="" class="">
				<div class="flex flex-col justify-center gap-[15px]">
					<h6 class="julius-sans-one-regular text-4xl	">Conoce tu condicion actual</h6>
					<p class="archivo-narrow text-xl">Realiza un pequeño cuestionario que nos permita evaluar tu condicion academica.</p>
					<div class="h-[25px]"></div>
					<div class="inline-block gap-24">
						<button class="bg-[#804422] text-white py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110 mr-8 hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'quest'">Realizar cuestionario</button>
						
						<button class="bg-[#804422] text-white py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110 hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'text'">Preview caja de texto</button>
					</div>
				</div>
			</div>
			<div class="h-[180px] "></div>
		</div>
	</section>
	<!-- SECCION DE GRAFICAS Y RESULTADOS -->
	<div id="div1gra" class=" h-[100px] pt-7 font-semibold hidden">
		<h2 class="text-white text-center archivo-narrow select-none julius-sans-one-regular text-3xl mb-[100px]">En el siguiente gráfico se observan los resultados acumulados en el cuestionario</h2>
	</div>
	<section id="admin" class="text-black bg-white hidden max-h-[800px] pt-[80px] pb-[90px] text-center">
		<div class="w-1/2">
			<canvas id="myChart" class=""></canvas>
		</div>
	</section>
	<!-- <div id="div2gra" class=" bg-white h-[100px]"></div> -->
	<!-- FOOTER -->
	<footer class="text-white p-16 flex flex-col items-center bg-[#513625]">
		<div class="flex  justify-center gap-3">
			<p>_______________________________________________________________</p>
			<div class="flex gap-3">
				<img src="/public/facebook.svg" alt="">
				<img src="/public/github.svg" alt="">
				<img src="/public/link.svg" alt="">
				<img src="/public/twitter.svg" alt="">
				<img src="/public/inst.svg" alt="">
			</div>
			<p>_______________________________________________________________</p>
		</div>
		<h1 class="julius-sans-one-regular text-2xl mt-8">PROYECTA TU VIDA</h1>
		<p class="archivo-narrow mt-3">Copyrigth © 2024 Rioters Inc.</p>
	</footer>
</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
	
</style>
<script>

document.addEventListener('DOMContentLoaded', function() {
	var blue= localStorage.getItem('blue');
    var green= localStorage.getItem('green');
    var yellow= localStorage.getItem('yellow');
    var orange= localStorage.getItem('orange');
    var red= localStorage.getItem('red');

    // Data para el gráfico
    var data = {
        labels: ['No desertará', 'Dificil que deserte', 'Dudosa situación', 'Posible deserción', 'Deserción muy posible'],
        datasets: [{
            label: 'Resultados',
            backgroundColor: [
				'#0000FF66', // Azul (66 en hexadecimal es aproximadamente 40% de opacidad)
				'#00800066', // Verde
				'#FFFF0066', // Amarillo
				'#FFA50066', // Naranja
				'#FF000066'  // Rojo
			],
			borderColor: [
				'#0000FF99', // Azul (99 en hexadecimal es aproximadamente 60% de opacidad)
				'#00800099', // Verde
				'#FFFF0099', // Amarillo
				'#FFA50099', // Naranja
				'#FF000099'  // Rojo
			],
            borderWidth: 1,
            data: [blue,green,yellow,orange,red],
        }]
    };

    // Configuración del gráfico
    var config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
			layout: {
                padding: {
                    right: 100 // Ajuste de margen derecho del gráfico
                }
            },
            plugins: {
                legend: {
                    position: 'right', // Ubicación de la leyenda (right, left, top, bottom)
					labels: {
                        padding: 20, // Ajuste de margen para la leyenda
						font: {
                            size: 20 // Tamaño de la fuente de los labels
                        }
                    }
                }
            }
			
        }
    };

    // Obtener el contexto 2D del elemento canvas
    var ctx = document.getElementById('myChart').getContext('2d');

    // Crear el gráfico
    new Chart(ctx, config);
});


	function VerificarRol(){
		let key = sessionStorage.key(0);
    	let user = sessionStorage.getItem(key);
		let users = JSON.parse(user)
        if (users.role === "admin") {
			console.log(users.role)
            let adminSection = document.getElementById("admin");
            adminSection.style.display = "block";
			document.getElementById("div1gra").style.display = "block";
        } else {
			let adminSection = document.getElementById("admin");
			document.getElementById("div1gra").style.display = "none";
            adminSection.style.display = "none";
			console.log(users.role)
        }
		console.log(users)
	}
	
	document.addEventListener('DOMContentLoaded', function() {
            VerificarRol();
    });
	
</script>