---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Cards from '../components/Cards.astro';
import Sliderin from '../components/vue/Sliderin.vue';
import Chart from 'chart.js/auto';
import FAQ from '../components/FAQ.astro';
import WHO from '../components/vue/who_am.vue';
const props = Astro.props

---
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<Layout tittle="Futuro en Marcha">
	<Header ></Header>
	<!-- Boton de regreso -->
	<button id="btnSubir" class="fixed bottom-6 right-6 bg-[#3850399d] hover:bg-[#286832] ease-in duration-300 hover:scale-110 opacity-0  text-white font-bold py-4 px-4 rounded-full text-xl shadow-xl z-10">
		<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024" {...props}>
			<path fill="currentColor" d="M104.704 685.248a64 64 0 0 0 90.496 0l316.8-316.8l316.8 316.8a64 64 0 0 0 90.496-90.496L557.248 232.704a64 64 0 0 0-90.496 0L104.704 594.752a64 64 0 0 0 0 90.496" />
		</svg>
	</button>

	<!-- Imagen principal -->
	<main id="recibido" class="select-none hidden">
		<div class="min-h-[775px] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center bg-[url('/public/salon.svg')] ">
			<div class="w-full min-h-[775px] flex flex-col justify-center items-center">
				<div class="julius-sans-one-regular text-white text-7xl" id="bienvenido">
					Bienvenido name
				</div>
			</div>
		</div>
	</main>
	<main id="main" class="select-none">
		<div class="min-h-[775px] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center bg-[url('/public/salon.svg')] ">
			<div class="flex flex-col justify-center items-center drop-shadow-2xl mb-16">
				<h2 class="julius-sans-one-regular text-8xl text-white  font-black filter font" style="filter: drop-shadow(5px 5px 1px #000000);">Futuro en Marcha</h2>
				<p class="mt-14 archivo-narrow text-white text-2xl font-medium p-1 px-2" style="filter: drop-shadow(3px 3px 1px #000000);" >Tu Camino Contra la Deserción Escolar</p>
			</div>
		</div>
		<div></div>
	</main>



	<!-- Slidder Información -->
	<Sliderin client:load />
	<!-- 1ra Seccion -->


	<div class="bg-gradient-to-b from-[#F2E9D8] to-white h-[150px] "></div>
	<div class="bg-white h-[75px]">
		<h1 class="julius-sans-one-regular text-[#804422] text-4xl text-center select-none">Detonantes de la Deserción Escolar</h1>
	</div>
	<div class="bg-gradient-to-b from-white to-[#F2E9D8] h-[150px]"></div>
	<section class="mt-10 flex justify-center items-center gap-20 select-none">
			<Cards>
				<img src="../../public/amb.png" alt="" slot="svg" class="size-32 my-6">
				<h1 slot="title" class="font-semibold text-xl julius-sans-one-regular">Ambiente familiar</h1>
				<p slot="content" class="px-4 font-light archivo-narrow mt-3">Un ambiente familiar conflictivo, caracterizado por falta de apoyo emocional, problemas financieros, violencia, o desinterés en la educación, puede aumentar el estrés y la ansiedad en los estudiantes. Esta situación puede desmotivarlos, dificultar su concentración y rendimiento académico.</p>
			</Cards>
			<Cards>
				<img src="../../public/desemp.jpg" alt="" slot="svg" class="size-44">
				<h1 slot="title" class="font-semibold text-xl julius-sans-one-regular">Desempeño academico</h1>
				<p slot="content" class="px-4 font-extralight archivo-narrow mt-3">El desempeño académico afecta la deserción estudiantil porque un bajo rendimiento puede generar frustración, pérdida de motivación y sensación de fracaso, llevando al estudiante a abandonar sus estudios.</p>
			</Cards>
			<Cards>
				<img src="../../public/apoyo.avif" alt="" slot="svg" class="size-44 "/>
				<h1 slot="title" class="font-semibold text-xl julius-sans-one-regular">Relaciones personales</h1>
				<p slot="content" class="px-4 font-extralight archivo-narrow mt-3">Las relaciones personales conflictivas o carentes de apoyo pueden aumentar significativamente la deserción estudiantil; problemas familiares, amistades que no valoran la educación pueden generar estrés, aislamiento, ansiedad y desmotivación, llevando al estudiante a abandonar sus estudios.</p>
			</Cards>
	</section>
	<div class="bg-gradient-to-b from-[#F2E9D8] to-white h-[150px] "></div>



	<!-- Seccion de encuestas -->
	<section class="bg-white select-none" id="user">
		<div class="">
			<div class="h-[100px] "></div>
			<div class="flex justify-between mx-2">
				<img src="../../public/encues.svg" alt="" class="ml-[70px]">
				<div class="flex flex-col justify-center items-center gap-[15px] ">
					<h6 class="julius-sans-one-regular text-4xl	">Conoce tu condición actual</h6>
					<p class="archivo-narrow text-xl text-center px-32">Realiza un rápido cuestionario que nos permita evaluar tu condición académica, escribe un pequeño texto sobre un tema de tu elección o realiza la conocida prueba de Rorschach</p>
					<div class="h-[25px]"></div>
					<div class="flex justify-between gap-24 px-9 ">
						<button class="bg-[#804422] text-white w-[200px] py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110 hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'quest'">Realizar cuestionario</button>
						
						<button class="bg-[#804422] text-white w-[200px] py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110 hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'text'">Exprésate en un texto</button>
					
						<button class="bg-[#804422] text-white w-[200px] py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110  hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'test'">Prueba de Rorschach</button>
						
					</div>
				</div>
			</div>
			<div class="h-[180px] "></div>
		</div>
	</section>



	<!-- SECCION DE GRAFICAS Y RESULTADOS -->
	<div id="div2gra" class="bg-gradient-to-b from-white to-[#F2E9D8] h-[150px] hidden"></div>
	<div id="div1gra" class=" h-[150px] pt-12 font-semibold hidden">
		<h2 class=" text-center select-none julius-sans-one-regular text-4xl  text-[#213625]">En el siguiente gráfico se observan los resultados acumulados</h2>
	</div>
	<div id="div3gra" class="bg-gradient-to-b from-[#F2E9D8] to-white h-[100px] hidden"></div>
	<section id="admin" class="text-black bg-white hidden max-h-[800px] py-[150px] text-center select-none px-16">
		<div class="w-1/2 h-[500px] ">
			<canvas id="myChart" class=""></canvas>
		</div>
		<div class="w-1/2  text-center flex items-center px-36 archivo-narrow text-3xl leading-normal text-[#804422]">
			<p>
				Estos resultados parten del anterior cuestionario, en el cual se evalúan diferentes aspectos relacionados a los problemas que rodean la deserción escolar, desde entornos familiares y situación económica hasta el ambiente escolar y el desempeño académico
			</p>
		</div>
	</section>




	<!-- SECCION DE RUTA DE OBJETIVO -->
	<div class="bg-gradient-to-b from-white to-[#F2E9D8] h-[150px] "></div>
	<WHO client:only/>
	<div class="bg-gradient-to-b from-[#F2E9D8] to-white h-[150px] "></div>




	<!-- SECCION DE LA INFORMACION -->
	<FAQ />
	<div class="h-[100px] bg-white"></div>
	<!-- SECCION DE SERVICIOS -->





	<section id="services" class="bg-[url('/public/campus.jpg')] bg-cover bg-center bg-no-repeat select-none ">
		<div class="py-16 bg-[#945531e3] text-white">
			<div class=" flex flex-col ml-[110px] ">
				<div>
					<p class="julius-sans-one-regular text-2xl text-white mb-5">Si quieres conseguir ayuda especializada sobre tu situación puedes comunicarte a través de:</p>
					<div class="flex flex-col gap-6 ml-3 archivo-narrow">
						<div class="flex gap-5 items-end">
							<a class="text-2xl font-bold text-white" href="https://www.icbf.gov.co/noticias/linea-141" >Linea 141 :</a>
							<p class="text-lg select-none ">Línea gratuita nacional para protección, emergencia y orientación. Disponible las 24 horas.</p>
						</div>
						<div class="flex gap-5 items-end">
							<a class="text-2xl font-bold text-white" href="https://www.educaciontrespuntocero.com/recursos/servicios-psicologia-gratis/">Servicios de psicología gratis :</a>
							<p class="text-lg select-none ">Algunos sitios actualizados que brindan ayuda psicológica gratuita tanto a estudiantes como a docentes.</p>
						</div>	
					</div>
					
				</div>
				<div class="h-[50px]"></div>
				<div>
					<p class="julius-sans-one-regular text-2xl text-white mb-5">Si tienes dudas o reportes acerca de la página y su contenido comunícate aquí:</p>
					<div class="flex flex-col gap-6 ml-3">
						<div class="flex gap-5 items-center archivo-narrow">
							<a href="https://www.facebook.com/JoseTorres28alv">
								<svg xmlns="http://www.w3.org/2000/svg" class="size-8" width="1em" height="1em" viewBox="0 0 256 256"><path fill="#1877f2" d="M256 128C256 57.308 198.692 0 128 0C57.308 0 0 57.308 0 128c0 63.888 46.808 116.843 108 126.445V165H75.5v-37H108V99.8c0-32.08 19.11-49.8 48.348-49.8C170.352 50 185 52.5 185 52.5V84h-16.14C152.959 84 148 93.867 148 103.99V128h35.5l-5.675 37H148v89.445c61.192-9.602 108-62.556 108-126.445"/><path fill="#fff" d="m177.825 165l5.675-37H148v-24.01C148 93.866 152.959 84 168.86 84H185V52.5S170.352 50 156.347 50C127.11 50 108 67.72 108 99.8V128H75.5v37H108v89.445A128.959 128.959 0 0 0 128 256a128.9 128.9 0 0 0 20-1.555V165z"/></svg>
							</a>
							<p class="archivo-narrow text-xl ">Página de soporte técnico</p>
						</div>
						<div class="flex gap-5 items-center text-xl">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" class="size-8" width="1em" height="1em" viewBox="0 0 256 258"><defs><linearGradient id="logosWhatsappIcon0" x1="50%" x2="50%" y1="100%" y2="0%"><stop offset="0%" stop-color="#1faf38"/><stop offset="100%" stop-color="#60d669"/></linearGradient><linearGradient id="logosWhatsappIcon1" x1="50%" x2="50%" y1="100%" y2="0%"><stop offset="0%" stop-color="#f9f9f9"/><stop offset="100%" stop-color="#fff"/></linearGradient></defs><path fill="url(#logosWhatsappIcon0)" d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a122.994 122.994 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004"/><path fill="url(#logosWhatsappIcon1)" d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z"/><path fill="#fff" d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561c0 15.67 11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716c-3.186-1.593-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64"/></svg>
							</a>
							<p class="archivo-narrow">310 808 7325</p>
						</div>
						<div class="flex gap-5 items-center text-xl">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" class="size-8" width="1.33em" height="1em" viewBox="0 0 256 193"><path fill="#4285f4" d="M58.182 192.05V93.14L27.507 65.077L0 49.504v125.091c0 9.658 7.825 17.455 17.455 17.455z"/><path fill="#34a853" d="M197.818 192.05h40.727c9.659 0 17.455-7.826 17.455-17.455V49.505l-31.156 17.837l-27.026 25.798z"/><path fill="#ea4335" d="m58.182 93.14l-4.174-38.647l4.174-36.989L128 69.868l69.818-52.364l4.669 34.992l-4.669 40.644L128 145.504z"/><path fill="#fbbc04" d="M197.818 17.504V93.14L256 49.504V26.231c0-21.585-24.64-33.89-41.89-20.945z"/><path fill="#c5221f" d="m0 49.504l26.759 20.07L58.182 93.14V17.504L41.89 5.286C24.61-7.66 0 4.646 0 26.23z"/></svg>
							</a>
							<p class="archivo-narrow">FuturoEnMarcha@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<!--FOOTER -->
	<footer class="text-white p-16 flex flex-col items-center bg-[#513625] select-none">
		<div class="flex mt-6 justify-center gap-3">
			<p>_______________________________________________________________</p>
			<div class="flex gap-3">
				<img src="/public/facebook.svg" alt="">
				<img src="/public/github.svg" alt="">
				<img src="/public/link.svg" alt="">
				<img src="/public/twitter.svg" alt="">
				<img src="/public/inst.svg" alt="">
			</div>
			<p>_______________________________________________________________</p>
		</div>
		<h1 class="julius-sans-one-regular text-2xl mt-8">Futuro en Marcha</h1>
		<p class="archivo-narrow mt-3 mb-6">Copyrigth © 2024 Rioters Inc.</p>
	</footer>
</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.faq.activo .answer{
		max-height: 300px;
		animation: fade 1s ease-in-out;
	}
	.answer{
		transition: max-height 1.4s ease;
	}
	.rotate{
		transform: rotate(90);
	}
	.faq.activo svg{
		transform: rotate(180deg);
	}
	svg{
		transition: transform .4s ease-in;
	}

	@keyframes fade{
		from{
			opacity: 0;
			transform: translateY(-10px);
		}to{
			opacity: 1;
			transform: translateY(0px);
		}
	}


	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}
	
</style>
<script>

document.addEventListener('DOMContentLoaded', function() {
	var blue= localStorage.getItem('blue');
    var green= localStorage.getItem('green');
    var yellow= localStorage.getItem('yellow');
    var orange= localStorage.getItem('orange');
    var red= localStorage.getItem('red');

    // Data para el gráfico
    var data = {
        labels: ['No desertará', 'Dificil que deserte', 'Dudosa situación', 'Posible deserción', 'Deserción muy posible'],
        datasets: [{
            label: 'Resultados',
            backgroundColor: [
				'#0000FF66', // Azul (66 en hexadecimal es aproximadamente 40% de opacidad)
				'#00800066', // Verde
				'#FFFF0066', // Amarillo
				'#FFA50066', // Naranja
				'#FF000066'  // Rojo
			],
			borderColor: [
				'#0000FF99', // Azul (99 en hexadecimal es aproximadamente 60% de opacidad)
				'#00800099', // Verde
				'#FFFF0099', // Amarillo
				'#FFA50099', // Naranja
				'#FF000099'  // Rojo
			],
            borderWidth: 1,
            data: [blue,green,yellow,orange,red],
        }]
    };

    // Configuración del gráfico
    var config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
			layout: {
                padding: {
                    right: 30 // Ajuste de margen derecho del gráfico
                }
            },
            plugins: {
                legend: {
                    position: 'right', 
					labels: {
                        padding: 30, 
						font: {
                            size: 20 
                        }
                    }
                }
            }
			
        }
    };

    
    var ctx = document.getElementById('myChart').getContext('2d');

    // Crear el gráfico
    new Chart(ctx, config);
});

	//  Funcionalidad de botones de Scroll
	document.addEventListener('DOMContentLoaded', function() {

		const btnSubir = document.getElementById("btnSubir");

		window.addEventListener('scroll',function() {
			if(window.scrollY != 0) {
				btnSubir.classList.add('opacity-100')
				btnSubir.classList.remove('opacity-0')
				btnSubir.classList.remove('cursor-default')
			}
			else {
				btnSubir.classList.add('opacity-0')
				btnSubir.classList.remove('opacity-100')
				btnSubir.classList.add('cursor-default')
			}
		})

		document.getElementById("faqbut").addEventListener('click',function(){
			const destino1 = document.getElementById("faq");
			const position1 = destino1.offsetTop

			window.scrollTo({
				top: position1,
				behavior: 'smooth',
			})
		})
		document.getElementById("servbut").addEventListener('click',function(){
			const destino2 = document.getElementById("services");
			const position2 = destino2.offsetTop

			window.scrollTo({
				top: position2,
				behavior: 'smooth',
			})
		})
		document.getElementById("btnSubir").addEventListener('click',function(){
			const destino3 = document.getElementById("arriba");
			const position3 = destino3.offsetTop

			window.scrollTo({
				top: position3,
				behavior: 'smooth',
			})
		})
		
	});
	


	function VerificarRol(){
		let key = sessionStorage.key(0);
    	let user = sessionStorage.getItem(key);
		let users = JSON.parse(user)
        if (users.role === "admin") {
			console.log(users.role)
            let adminSection = document.getElementById("admin");
            adminSection.style.display = "flex";
			document.getElementById("div1gra").style.display = "block";
			document.getElementById("div2gra").style.display = "block";
			document.getElementById("div3gra").style.display = "block";
        } else {
			let adminSection = document.getElementById("admin");
			document.getElementById("div1gra").style.display = "none";
			document.getElementById("div2gra").style.display = "none";
			document.getElementById("div3gra").style.display = "none";
            adminSection.style.display = "none";
			console.log(users.role)
        }
		console.log(users)
	}
	document.addEventListener('DOMContentLoaded', function(){
		VerificarRol();
	})

	
</script>