---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Cards from '../components/Cards.astro';
import Chart from 'chart.js/auto';
const props = Astro.props

---
<script  src="../js/who_am.js"></script>
<script  src="../js/FAQ.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<Layout tittle="NexoEducativo">
	<Header ></Header>
	<!-- Boton de regreso -->
	<button id="btnSubir" class="hidden fixed bottom-6 right-6 bg-[#3850399d] hover:bg-[#286832] ease-in duration-100 hover:scale-110 text-white font-bold py-4 px-4 rounded-full text-xl shadow-xl z-10">
		<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024" {...props}>
			<path fill="currentColor" d="M104.704 685.248a64 64 0 0 0 90.496 0l316.8-316.8l316.8 316.8a64 64 0 0 0 90.496-90.496L557.248 232.704a64 64 0 0 0-90.496 0L104.704 594.752a64 64 0 0 0 0 90.496" />
		</svg>
	</button>
	<!-- Imagen principal -->
	<main class="bg-white select-none">
		<div class="min-h-[775px] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center bg-[url('/public/salon.svg')] ">
			<div class="flex flex-col justify-center items-center drop-shadow-2xl mb-16">
				<h2 class="julius-sans-one-regular text-8xl text-white  font-black filter font" style="filter: drop-shadow(5px 5px 1px #000000);">NEXOEDUCATIVO</h2>
				<p class="mt-14 archivo-narrow text-white text-2xl font-medium p-1 px-2" style="filter: drop-shadow(3px 3px 1px #000000);" >Conectando con el Rendimiento</p>
			</div>
		</div>
		<div></div>
	</main>
	<!-- 1ra Seccion -->
	<section class="mt-56 flex justify-center items-center gap-20 select-none">

			<Cards>
				<img src="../../public/motivacion.avif" alt="" slot="svg" class="size-44">
				<h1 slot="title" class="font-semibold text-xl">Motivación</h1>
				<p slot="content">Estudiar puede ser desafiante, pero cada paso te acerca a tus sueños. Cada libro que lees y tarea que completas te acerca al éxito. Mantén la determinación y recuerda por qué comenzaste. Tu esfuerzo de hoy es una inversión en tu futuro. ¡Tú puedes lograrlo! </p>
			</Cards>
			<Cards>
				<img src="../../public/perseverancia.jpg" alt="" slot="svg" class="size-44">
				<h1 slot="title" class="font-semibold text-xl">Perseverancia</h1>
				<p slot="content">La perseverancia en los estudios nos lleva al éxito. A pesar de los desafíos, sigamos adelante. Cada paso nos acerca a nuestros sueños. Aprendamos de los errores y sigamos avanzando con determinación. Con esfuerzo, alcanzaremos nuestras metas académicas. ¡Juntos hacia un futuro brillante!</p>
			</Cards>
			<Cards>
				<img src="../../public/apoyo.avif" alt="" slot="svg" class="size-44"/>
				<h1 slot="title" class="font-semibold text-xl">Apoyo emocional</h1>
				<p slot="content">El apoyo emocional es fundamental. Nos fortalece en momentos difíciles, nos motiva a seguir adelante y nos brinda consuelo en tiempos de necesidad. Con el apoyo de quienes nos rodean, podemos superar desafíos y alcanzar nuestras metas con mayor confianza y determinación.</p>
			</Cards>
	</section>
	<!-- 2da Seccion -->
	<section class="bg-white mt-48 select-none" id="user">
		<div class="">
			<div class="h-[180px] "></div>
			<div class="flex justify-between mx-52">
				<img src="../../public/encues.svg" alt="" class="">
				<div class="flex flex-col justify-center gap-[15px]">
					<h6 class="julius-sans-one-regular text-4xl	">Conoce tu condicion actual</h6>
					<p class="archivo-narrow text-xl">Realiza un pequeño cuestionario que nos permita evaluar tu condicion academica.</p>
					<div class="h-[25px]"></div>
					<div class="inline-block gap-24">
						<button class="bg-[#804422] text-white py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110 mr-8 hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'quest'">Realizar cuestionario</button>
						
						<button class="bg-[#804422] text-white py-2 px-3 rounded-3xl text-xl archivo-narrow ease-in duration-300 hover:scale-110 hover:bg-white hover:text-[#804422] border hover:border-[#804422]" onclick="window.location.href = 'text'">Preview caja de texto</button>
					</div>
				</div>
			</div>
			<div class="h-[180px] "></div>
		</div>
	</section>
	<!-- SECCION DE GRAFICAS Y RESULTADOS -->
	<div id="div1gra" class=" h-[150px] pt-12 font-semibold hidden">
		<h2 class=" text-center select-none julius-sans-one-regular text-4xl mb-[100px] text-[#213625]">En el siguiente gráfico se observan los resultados acumulados</h2>
	</div>
	<section id="admin" class="text-black bg-white hidden max-h-[800px] py-[150px] text-center select-none px-16">
		<div class="w-1/2 h-[500px] ">
			<canvas id="myChart" class=""></canvas>
		</div>
		<div class="w-1/2  text-center flex items-center px-36 archivo-narrow text-3xl leading-normal text-[#804422]">
			<p>
				Estos resultados parten del anterior cuestionario, en el cual se evaluan diferentes aspectos relacionados a los problemas que rodean la desercion escolar, desde entornos familiares y situacion economica hasta el ambiente escolar y el desempeño academico
			</p>
		</div>
	</section>
	<section class="flex justify-center flex-col items-center mb-4">
		<h1 class="text-[#804422] text-4xl text-center mt-12 font-semibold mb-2 julius-sans-one-regular">Quien Quiero Ser?</h1>
		<div class="grid grid-cols-9 grid-rows-7 gap-4 text-center min-h-[600px] min-w-[1200px] ">
			<div id="paso_1" class="col-start-2 row-start-2 bg-white border-2 border-[#804422]  rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">1</div>
			<div id="paso_2" class="col-start-2 row-start-4 bg-white border-2 border-[#804422]  rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">2</div>
			<div id="paso_3" class="col-start-2 row-start-6 bg-white border-2 border-[#804422]  rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">3</div>
			<div id="paso_4" class="col-start-4 row-start-6 bg-white border-2 border-[#804422]  rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">4</div>
			<div id="paso_5" class="col-start-4 row-start-4 bg-white border-2 border-[#804422] rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">5</div>
			<div id="paso_6" class="col-start-5 row-start-2 bg-white border-2 border-[#804422] rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">6</div>
			<div id="paso_7" class="col-start-6 row-start-4 bg-white border-2 border-[#804422] rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">7</div>
			<div id="paso_8" class="col-start-6 row-start-6 bg-white border-2 border-[#804422] rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">8</div>
			<div id="paso_9" class="col-start-8 row-start-6 bg-white border-2 border-[#804422]  rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-xl">9</div>
			<div id="paso_10" class="col-start-8 col-end-10 row-start-3 row-end-5 bg-white border-2 border-[#804422] rounded-full flex items-center justify-center text-[#804422] archivo-narrow text-2xl" >Meta!</div>
			<div class="col-start-2 row-start-3 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-180">
			</div>
			<div class="col-start-2 row-start-5 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-180">
			</div>
			<div class="col-start-3 row-start-6 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-90">
			</div>
			<div class="col-start-4 row-start-5 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 ">
			</div>
			<div class="col-start-4 row-start-3 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16">
			</div>
			<div class="col-start-4 row-start-2 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-90"> 
			</div>
			<div class="col-start-6 row-start-2 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-90"> 
			</div>
			<div class="col-start-6 row-start-3 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-180">
			</div>
			<div class="col-start-6 row-start-5 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-180">
			</div>
			<div class="col-start-7 row-start-6 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16 rotate-90"> 
			</div>
			<div class="col-start-8 row-start-5 m-auto">
				<img src="../../public/metas_img/up_arrow.svg" alt="" class="size-16">
			</div>
		</div>
		<div class="flex justify-center py-8 gap-6 items-center">
			<input type="text" id="meta" placeholder="Escribe tu Meta!" autocomplete="off" class="h-14 border-2 rounded-2xl w-[400px] p-2 border-[#804422] outline-none">
			<button id="form" class="bg-white text-[#804422] w-[100px] pl-3 pr-3 pt-0 h-14 rounded-2xl mt-5 mb-4 border-2 border-[#804422] hover:text-white hover:bg-[#804422]">Enviar</button>
		</div>
	</section>
	<!-- SECCION DE LA INFORMACION -->
	<section id="information" class="pt-10 bg-white">
		<div class=" text-center box-border">
			<h1 class="text-[#804422] julius-sans-one-regular text-4xl">Preguntas Frecuentes</h1>
			<div class="flex mt-5">
				<div class="w-1/2 p-6">
					<div class="faq border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Qué es la deserción escolar y por qué es importante abordar este problema?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Cuáles son las señales de que un estudiante pueda estar presentar deserción?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Qué debo hacer si creo que mi hijo/a podría estar en riesgo de deserción?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Cuáles son algunas estrategias efectivas para prevenir la deserción escolar?s</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Dónde puedo encontrar recursos de apoyo para audar a mi hijo en la escuela?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
				</div>
				<div class=" w-1/2 p-6">
					<div class="faq border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Qué papel desempeñan los maestros en la prevención de la deserción?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Existen programas y ayudas específicas para estudiantes en riesgo?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Cómo puedo comunicarme con la escuela si tengo problemas emocionales?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Qué puedo hacer como estudiante si tengo dificultades en la escuela?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
					<div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl">
						<div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
							<h1 class="font-semibold">¿Cómo puedo saber si mi hijo está en riesgo de deserción?</h1>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
							<p class="archivo-narrow">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga commodi quidem explicabo itaque minus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- SECCION DE SERVICIOS -->
	<section id="services">
		<div class="h-[200px] bg-cyan-300">
			Aquí van los servicios
		</div>
	</section>



	
	
	<!-- FOOTER -->
	<footer class="text-white p-16 flex flex-col items-center bg-[#513625] select-none">
		<div class="flex  justify-center gap-3">
			<p>_______________________________________________________________</p>
			<div class="flex gap-3">
				<img src="/public/facebook.svg" alt="">
				<img src="/public/github.svg" alt="">
				<img src="/public/link.svg" alt="">
				<img src="/public/twitter.svg" alt="">
				<img src="/public/inst.svg" alt="">
			</div>
			<p>_______________________________________________________________</p>
		</div>
		<h1 class="julius-sans-one-regular text-2xl mt-8">PROYECTA TU VIDA</h1>
		<p class="archivo-narrow mt-3">Copyrigth © 2024 Rioters Inc.</p>
	</footer>
</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.faq.activo .answer{
		max-height: 300px;
		animation: fade 1s ease-in-out;
	}
	.answer{
		transition: max-height 1.4s ease;
	}
	.rotate{
		transform: rotate(90);
	}
	.faq.activo svg{
		transform: rotate(180deg);
	}
	svg{
		transition: transform .4s ease-in;
	}

	@keyframes fade{
		from{
			opacity: 0;
			transform: translateY(-10px);
		}to{
			opacity: 1;
			transform: translateY(0px);
		}
	}


	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
	
</style>
<script>

document.addEventListener('DOMContentLoaded', function() {
	var blue= localStorage.getItem('blue');
    var green= localStorage.getItem('green');
    var yellow= localStorage.getItem('yellow');
    var orange= localStorage.getItem('orange');
    var red= localStorage.getItem('red');

    // Data para el gráfico
    var data = {
        labels: ['No desertará', 'Dificil que deserte', 'Dudosa situación', 'Posible deserción', 'Deserción muy posible'],
        datasets: [{
            label: 'Resultados',
            backgroundColor: [
				'#0000FF66', // Azul (66 en hexadecimal es aproximadamente 40% de opacidad)
				'#00800066', // Verde
				'#FFFF0066', // Amarillo
				'#FFA50066', // Naranja
				'#FF000066'  // Rojo
			],
			borderColor: [
				'#0000FF99', // Azul (99 en hexadecimal es aproximadamente 60% de opacidad)
				'#00800099', // Verde
				'#FFFF0099', // Amarillo
				'#FFA50099', // Naranja
				'#FF000099'  // Rojo
			],
            borderWidth: 1,
            data: [blue,green,yellow,orange,red],
        }]
    };

    // Configuración del gráfico
    var config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
			layout: {
                padding: {
                    right: 30 // Ajuste de margen derecho del gráfico
                }
            },
            plugins: {
                legend: {
                    position: 'right', // Ubicación de la leyenda (right, left, top, bottom)
					labels: {
                        padding: 30, // Ajuste de margen para la leyenda
						font: {
                            size: 20 // Tamaño de la fuente de los labels
                        }
                    }
                }
            }
			
        }
    };

    // Obtener el contexto 2D del elemento canvas
    var ctx = document.getElementById('myChart').getContext('2d');

    // Crear el gráfico
    new Chart(ctx, config);
});

	//  Funcionalidad de botones de Scroll
	document.addEventListener('DOMContentLoaded', function() {

		var btnSubir = document.getElementById("btnSubir");

		window.addEventListener('scroll',function() {
			if(window.scrollY != 0) {
				btnSubir.style.display = 'block'
			}
			else {
				btnSubir.style.display = 'none'
			}
		})

		document.getElementById("infobut").addEventListener('click',function(){
			const destino1 = document.getElementById("information");
			const position1 = destino1.offsetTop

			window.scrollTo({
				top: position1,
				behavior: 'smooth',
			})
		})
		document.getElementById("servbut").addEventListener('click',function(){
			const destino2 = document.getElementById("services");
			const position2 = destino2.offsetTop

			window.scrollTo({
				top: position2,
				behavior: 'smooth',
			})
		})
		document.getElementById("btnSubir").addEventListener('click',function(){
			const destino3 = document.getElementById("arriba");
			const position3 = destino3.offsetTop

			window.scrollTo({
				top: position3,
				behavior: 'smooth',
			})
		})
		
	});
	


	function VerificarRol(){
		let key = sessionStorage.key(0);
    	let user = sessionStorage.getItem(key);
		let users = JSON.parse(user)
        if (users.role === "admin") {
			console.log(users.role)
            let adminSection = document.getElementById("admin");
            adminSection.style.display = "flex";
			document.getElementById("div1gra").style.display = "block";
        } else {
			let adminSection = document.getElementById("admin");
			document.getElementById("div1gra").style.display = "none";
            adminSection.style.display = "none";
			console.log(users.role)
        }
		console.log(users)
	}
	document.addEventListener('DOMContentLoaded', function(){
		VerificarRol();
	})

	
</script>