---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout tittle="Proyecta Tu Vida">
	<Header></Header>
	<main class="bg-white">
		<div class="w-1/2  min-h-[575px] items-center  flex flex-col justify-center">
			<h2 class="julius-sans-one-regular text-5xl text-[#107361] ">PROYECTA TU VIDA</h2>
			<p class="mt-14 archivo-narrow text-black text-2xl">Todas tus metas están al alcance de tu determinacion</p>
		</div>
		<div></div>
	</main>

</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;s
		font-style: normal;
	}
	
</style>
