---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Cards from '../components/Cards.astro';
---

<Layout tittle="Proyecta Tu Vida">
	<Header></Header>
	<main class="bg-white">
		<div class="min-h-[575px] bg-no-repeat bg-center bg-cover flex flex-col justify-center items-center bg-[url('../../public/School.png')] brightness-[.85]">
			<div class="flex flex-col justify-center items-center drop-shadow-xl">
				<h2 class="julius-sans-one-regular text-8xl text-white font-extrabold drop-shadow-[0_45px_45px_rgba(0,0,0,4)]">PROYECTA TU VIDA</h2>
				<p class="mt-14 archivo-narrow text-white text-2xl font-light ">Todas tus metas están al alcance de tu determinacion</p>
				<!-- <button class="p-4 bg-white border-2 border-solid border-[#107361] mt-14 rounded-2xl hover:bg-[#107361] hover:border-white hover:text-white">
					<span class="font-semibold ">REGISTER</span>
				</button> -->
			</div>
		</div>
		<div></div>
	</main>
	
	<section class="mt-56 flex justify-center items-center gap-20">
		<Cards>
			<img src="../../public/earth.svg" alt="" slot="svg" class="size-52">
			<h1 slot="title">Lorem</h1>
			<p slot="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos optio commodi eius molestias, consectetur, recusandae aperiam doloremque natus, mollitia nihil amet. Magni inventore nostrum veritatis quos nisi ducimus nam facere.</p>
		</Cards>
		<Cards>
			<img src="../../public/book.svg" alt="" slot="svg" class="size-52">
			
		</Cards>
		<Cards>
			<img src="../../public/smile.svg" alt="" slot="svg" class="size-52">
		</Cards>
	</section>

	<section class="bg-white mt-56">
		<div class="">
			<div class="h-[180px]"></div>
			<img src="../../public/encues.svg" alt="" class="ml-16">
		</div>
		
	</section>
</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
	
</style>
