---
import Layout from "../layouts/Layout.astro"
import Header from '../components/Header.astro';
---

<Layout tittle="Cuestionario">
    <main class="flex justify-center items-center pt-40 ">
        <div class="bg-white w-[1000px] h-[600px] rounded-3xl shadow-2xl">
            <div class="flex flex-col gap-24  items-center justify-center h-full">
                <div class="w-2/5" id="questionid">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime cumque eius odio velit dolore inventore.</div>
                <div class="flex justify-around w-3/4 ">
                    <div class="border border-blue-700 rounded-full py-3 px-5 answer hover:cursor-pointer" id="ans1" onclick="ans1quest1()">1</div>
                    <div class="border border-blue-700" id="ans2" onclick="ans2quest1()">2</div>
                    <div class="border border-blue-700" id="ans3" onclick="ans3quest1()">3</div>
                    <div class="border border-blue-700" id="ans4" onclick="ans4quest1()">4</div>
                    <div class="border border-blue-700" id="ans5" onclick="ans5quest1()">5</div>
                </div>
            </div>
        </div>
    </main>
</Layout>