---
import Layout from "../layouts/Layout.astro"
import Header from '../components/Header.astro';
// import Script_Quest from '../components/Script_Quest.astro';
---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
    .answer-div{
        border: 1px solid rgb(187, 186, 186);
        padding: 5px;
        border-radius: 100%;
        padding: 12px 20px;
    }
    .answer-div:hover{
        cursor: pointer;
    }

</style>
    <Layout tittle="Cuestionario">
        <main class="flex justify-center items-center pt-40 select-none">
            <div id="divleft" class="absolute left-[80px] bg-[url('/public/quest-img/img1-1.jpg')] w-[250px] h-[250px] bg-cover"></div>
            <div class="bg-white w-[1000px] h-[600px] rounded-3xl shadow-2xl static">
                <div class="flex flex-col items-center justify-center h-full">
                    <div id="back" class="absolute right-1/4 top-[20%] px-3 py-2 bg-[#804422] rounded-2xl text-white hover:cursor-pointer hover:bg-white hover:text-[#804422] border hover:border-[#804422] hover:scale-110 duration-150" onclick="window.location.href = 'index.html'">
                        <p>
                            Regresar
                        </p>
                    </div>
                    <div id="help" class="absolute left-1/4 top-[20%] px-5 py-2 rounded-2xl border-2 border-[#804422] archivo-narrow text-base">
                        <p>
                            5: Mucho | 4: Un poco | 3: Más o menos | 2: Poco | 1: Muy Poco
                        </p>
                    </div>
                    <div class="w-2/5 text-center  archivo-narrow text-2xl" id="questionid"></div>
                    <div class="h-24"></div>
                    <div class="flex justify-around w-3/4 ">
                        <div class="answer-div hover:scale-125 hover:bg-[#804422] duration-150 ease-in hover:text-white font-semibold" id="ans1">1</div>
                        <div class="answer-div hover:scale-125 hover:bg-[#804422] duration-150 ease-in hover:text-white font-semibold" id="ans2">2</div>
                        <div class="answer-div hover:scale-125 hover:bg-[#804422] duration-150 ease-in hover:text-white font-semibold" id="ans3">3</div>
                        <div class="answer-div hover:scale-125 hover:bg-[#804422] duration-150 ease-in hover:text-white font-semibold" id="ans4">4</div>
                        <div class="answer-div hover:scale-125 hover:bg-[#804422] duration-150 ease-in hover:text-white font-semibold" id="ans5">5</div>
                    </div>
                    <div id="sendQuest" class=" hidden flex-col items-center">
                        <div class="text-3xl flex flex-col items-center ">
                            <h3>Nos alegra que hayas respondido todas las preguntas</h3>
                            <div class="h-[10px]"></div>
                            <h3>Es hora de enviar las respuestas</h3>
                        </div>
                        <div class="h-[60px]"></div>
                        <div class="inline-block">
                            <button id="send" class="bg-[#804422] text-white py-2 px-3 rounded-3xl text-xl ">Enviar respuestas</button>
                        </div>
                    </div>
                    <div id="mesDiv" class="hidden flex-col items-center px-32 ">
                        <div class="text-center">
                            <h3 id="titleMessage" class="text-3xl"></h3>
                            <div class="h-[30px]"></div>
                            <div id="message" class="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divright" class="absolute right-[80px] bg-[url('/public/quest-img/img1-2.jpg')] w-[250px] h-[250px] bg-cover"></div>

        </main>
    </Layout>
    <script src="../js/quest.js"></script>
<!-- <Script_Quest></Script_Quest> -->