---
import Layout from "../layouts/Layout.astro"
---
<style>
    
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

    .julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}
    body{
        background: -webkit-linear-gradient(90deg, #f2e9d8,#eeab2f);          
        background: linear-gradient(90deg, #f2e9d8,#eeab2f);  
    } 
</style>
<Layout tittle="Caja de texto">
        <div class="flex justify-center items-center pt-40 archivo-narrow select-none" id="select1">
            <div class="bg-white w-[1000px] h-[600px] rounded-3xl shadow-[#804422] shadow-xl archivo-narrow">
                <div id="next" class="absolute right-1/4 top-[20%] px-3 py-2 bg-[#804422] rounded-2xl text-white hover:cursor-pointer select-none hover:bg-white hover:text-[#804422] border hover:border-[#804422] hover:scale-110 duration-150">
                    <p>
                        Siguiente
                    </p>
                </div>
                <div class="flex justify-center items-center mt-16">
                <p class="text-center p-4 max-w-md leading-7 archivo-narrow">
                    ¡Hola!
                    <br>
                    Sé que a veces la vida de estudiante puede ser un desafío. Ya sea por el estrés de los exámenes, las preocupaciones sobre el futuro o simplemente los altibajos del día a día, todos enfrentamos momentos difíciles.
                    <br>
                    Quiero recordarte que no estás solo. Hablar sobre tus problemas puede ser el primer paso para sentirte mejor. Ya sea con un amigo, un familiar o un consejero escolar, compartir lo que te está molestando puede ayudar a aliviar la carga.
                    <br>
                    Así que, si alguna vez sientes que necesitas desahogarte o simplemente hablar con alguien, estoy aquí para escucharte. Juntos podemos encontrar formas de superar cualquier obstáculo que se interponga en tu camino.
                    <br>
                    No dudes en acercarte si necesitas apoyo. Estoy aquí para ti.
                    <br>
                    ¡Ánimo y sigue adelante!
                </p>
                </div>
                
            </div>
        </div>
        
        <div class="hidden select-none" id="select">
            <div class="h-[25vh]" ></div>
            
            <div class="flex justify-center items-center archivo-narrow">
                <div>
                    <div class="w-[750px] bg-white p-4 rounded-l-3xl rounded-tr-3xl archivo-narrow">
                <p>Seguimos por esta sección. Seguramente tu psicóloga te haya recomendado hacer este apartado. No te preocupes, sé que te va a gustar. Elige el tema que te sugirieron o uno de tu interés.</p>
                </div>
					<ul class="flex text-white gap-8  font-medium items-center">
                        <a href="#" class="bg-white h-10 flex relative text-lg rounded-full w-[750px]    px-4 arhcivo-narrow  text-black items-center group mb-4 mt-4">
                            <span class="text-center font-semibold">Elige la opción que más te guste o la que te recomendaron</span> 
                            <menu class=" group-hover:block bg-white text-black w-[750px] absolute  hidden -left-[1px] rounded-r-3xl rounded-l-3xl -top-[2px] rounded-xl">
                                <div class="flex p-2  animate-slide-in-right">
                                    <p class="font-semibold pl-[10px] ">Elige la opción que más te guste o la que te recomendaron</p>
                                </div>
                                <ul class="text-start pl-4 px-4 pb-4 font-normal">
                                    <li class="hover:border-[#804422] border-2 border-transparent p-1 rounded-2xl cursor-pointer" id="option1"></li>
                                    <li class="hover:border-[#804422] border-2 border-transparent rounded-2xl p-1 cursor-pointer" id="option2"></li>
                                    <li class="hover:border-[#804422] border-2 border-transparent rounded-2xl p-1 cursor-pointer" id="option3"></li>
                                    <li class="hover:border-[#804422] border-2 border-transparent rounded-2xl p-1 cursor-pointer" id="option4"></li>
                                    <li class="hover:border-[#804422] border-2 border-transparent rounded-2xl p-1 cursor-pointer" id="option5"></li>
                                </ul>
                            </menu>
                        </a>
                    </ul>
                </div>
                
                    <div class="ml-4">
                        <img src="./public/buho.gif" alt="">
                    </div>
				</div>
                
            </div>
        </div>
    
    <div class="flex justify-center items-center pt-40 hidden archivo-narrow select-none" id="Box">
        <div class="bg-white w-[1000px] h-[600px] rounded-3xl shadow-[#804422] shadow-xl">
            <div id="back" class="absolute right-1/4 top-[20%] px-3 py-2 bg-[#804422] rounded-2xl text-white hover:cursor-pointer select-none hover:bg-white hover:text-[#804422] border hover:border-[#804422] hover:scale-110 duration-150" onclick="window.location.href = 'index.html'">
                <p>
                    Regresar
                </p>
            </div>
            <div class="p-8 grid grid-cols-2">

                <div class="h-[525px]">
                    <textarea name="" id="text1" rows="5" cols="33" class="w-full h-full bg-slate-100 rounded-2xl resize-none p-4 archivo-narrow" placeholder="Escribe aqui!" ></textarea>
                </div>
                
                <div class="flex flex-col justify-center items-center archivo-narrow">
                    <div class="text-center p-4 mb-4 archivo-narrow">
                        <p>Escribe un texto de <span id="text"></span>, <b>se sincero contigo mismo</b>, no pasara nada con lo que digas.Te vamos a leer 😃<p>
                    </div>
                    <div class="mt-4 archivo-narrow">
                        <button type="submit" id="submitButton" class="bg-[#804422] archivo-narrow text-white py-2 px-3 rounded-3xl text-xl archivo-narrow hover:bg-white hover:text-[#804422] border hover:border-[#804422] hover:scale-125 duration-150">Enviar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/box.js"></script>
</Layout>