<div class="w-[400px] h-[500px] bg-white rounded-2xl">
    <div class="flex justify-center items-center">
       <slot name="svg"/> 
    </div>
    <div class="text-center gap-y-6 mt-6">
        <slot name="title"/>
        <slot name="content"/>
    </div>
</div>