
    <div class="w-[350px] h-[450px] bg-white rounded-2xl transform hover:scale-[1.175] ease-out duration-300">
    <div class="flex justify-center items-center">
    <slot name="svg"/> 
    </div>
    <div class="text-center gap-y-6 p-4">
        <slot name="title"/>
        <slot name="content"/>
    </div>
    </div>

