
<script src="../js/FAQ.js"></script>

<section id="faq" class="pt-24 bg-white select-none px-[30px]">
    <div class=" text-center box-border">
        <h1 class="text-[#804422] julius-sans-one-regular text-4xl mb-20">Preguntas Frecuentes</h1>
        <div class="flex mt-5">
            <div class="w-1/2 p-6">
                <div class="faq border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center ">
                        <h1 class="font-semibold">¿Qué es la deserción escolar y por qué es importante abordar este problema?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            La deserción escolar es cuando los estudiantes abandonan la educación antes de completarla, lo que puede deberse a varios 
                            factores como problemas personales, familiares o económicos. Es crucial abordar este problema porque afecta negativamente 
                            tanto a los individuos como a la sociedad, limitando las oportunidades futuras, aumentando la desigualdad y generando costos 
                            económicos significativos. Además, la educación es un derecho humano fundamental, por lo que es imperativo garantizar que todos 
                            los estudiantes tengan acceso a una educación de calidad y apoyo adecuado para completarla. 
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Cuáles son las señales de que un estudiante pueda estar presentar deserción?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Las señales de que un estudiante podría estar en riesgo de deserción incluyen el ausentismo crónico, bajo rendimiento académico, 
                            problemas de comportamiento, dificultades personales o familiares, falta de motivación o interés en la escuela, baja autoestima, 
                            desconexión emocional, problemas de relación y falta de participación en actividades extracurriculares. Estar atento a estas señales 
                            es crucial para intervenir a tiempo y proporcionar el apoyo necesario para evitar la deserción escolar.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Qué debo hacer si creo que mi hijo/a podría estar en riesgo de deserción?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Si crees que tu hijo/a podría estar en riesgo de deserción escolar, es importante tomar medidas rápidas y proactivas.
                            Primero, comunícate con los maestros y consejeros escolares para discutir tus preocupaciones y obtener información sobre
                            el desempeño académico y comportamental de tu hijo/a en la escuela. Luego, trabaja en colaboración con la escuela para desarrollar 
                            un plan de apoyo individualizado que aborde las necesidades específicas de tu hijo/a, ya sea a través de tutorías, asesoramiento
                            emocional, programas extracurriculares o servicios de apoyo familiar. Además, mantén abiertas las líneas de comunicación con tu hijo/a 
                            para comprender sus preocupaciones y brindarle el apoyo emocional necesario.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Cuáles son algunas estrategias efectivas para prevenir la deserción escolar?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Para prevenir la deserción escolar de manera efectiva, es fundamental implementar programas de tutoría y apoyo académico, 
                            proporcionar servicios de asesoramiento emocional, crear un entorno escolar inclusivo y seguro, establecer programas de 
                            intervención temprana, ofrecer desarrollo de habilidades sociales y emocionales, colaborar con familias y comunidades, 
                            diseñar currículos educativos relevantes y monitorear regularmente la asistencia y el desempeño académico de los estudiantes. 
                            Estas estrategias integrales pueden ayudar a identificar y abordar las necesidades de los estudiantes en riesgo, promoviendo 
                            así el éxito escolar y reduciendo la deserción.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Dónde puedo encontrar recursos de apoyo para audar a mi hijo en la escuela?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Puedes encontrar recursos de apoyo para ayudar a tu hijo/a en la escuela en varios lugares. Comienza comunicándote con los 
                            maestros y consejeros escolares de tu hijo/a para obtener orientación sobre programas de tutoría, servicios de asesoramiento 
                            escolar o recursos adicionales disponibles en la escuela. También puedes investigar organizaciones comunitarias locales que 
                            ofrezcan programas de tutoría, apoyo académico o servicios de asesoramiento para estudiantes y familias. Las bibliotecas públicas, 
                            los centros juveniles y los centros de recursos educativos también pueden ser excelentes fuentes de recursos y materiales 
                            educativos para ayudar a tu hijo/a a tener éxito en la escuela. Además, hay numerosos recursos en línea, como sitios web educativos, 
                            aplicaciones de aprendizaje y foros de discusión, que ofrecen herramientas y consejos para apoyar el aprendizaje y el desarrollo 
                            académico de los estudiantes.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" w-1/2 p-6">
                <div class="faq border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Qué papel desempeñan los maestros en la prevención de la deserción?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-center">
                            Los maestros desempeñan un papel fundamental en la prevención de la deserción escolar. Ellos están en una posición única para 
                            identificar las señales de alerta temprana de deserción, como el bajo rendimiento académico, el ausentismo crónico o los problemas 
                            de comportamiento, y pueden intervenir proactivamente para brindar apoyo a los estudiantes en riesgo. Los maestros pueden establecer 
                            relaciones de confianza con los estudiantes, proporcionar tutorías académicas, ofrecer orientación emocional y conectar a los 
                            estudiantes con recursos adicionales en la escuela o en la comunidad. Además, los maestros pueden colaborar con otros profesionales 
                            escolares, como consejeros y trabajadores sociales, para desarrollar estrategias de intervención efectivas y crear un entorno escolar 
                            que promueva el éxito académico y emocional de todos los estudiantes.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Existen programas y ayudas específicas para estudiantes en riesgo?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-center">
                            Los maestros desempeñan un papel fundamental en la prevención de la deserción escolar. Ellos están en una posición única para 
                            identificar las señales de alerta temprana de deserción, como el bajo rendimiento académico, el ausentismo crónico o los problemas 
                            de comportamiento, y pueden intervenir proactivamente para brindar apoyo a los estudiantes en riesgo. Los maestros pueden establecer 
                            relaciones de confianza con los estudiantes, proporcionar tutorías académicas, ofrecer orientación emocional y conectar a los 
                            estudiantes con recursos adicionales en la escuela o en la comunidad. Además, los maestros pueden colaborar con otros profesionales 
                            escolares, como consejeros y trabajadores sociales, para desarrollar estrategias de intervención efectivas y crear un entorno escolar 
                            que promueva el éxito académico y emocional de todos los estudiantes.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Cómo puedo comunicarme con la escuela si tengo problemas emocionales?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Si estás experimentando problemas emocionales y necesitas comunicarte con la escuela, lo primero que puedes hacer es buscar apoyo en tu
                            orientador escolar o consejero estudiantil. Ellos están capacitados para ayudarte a manejar tus emociones y pueden proporcionarte recursos
                            adicionales, como servicios de asesoramiento o remisiones a profesionales externos si es necesario. También puedes hablar con tus profesores
                            de confianza o el director de la escuela, quienes pueden ofrecerte apoyo y buscar soluciones para ayudarte a superar tus dificultades
                            emocionales.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Qué puedo hacer como estudiante si tengo dificultades en la escuela?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Cuando enfrentas dificultades en la escuela, es esencial comunicarte con tus profesores para recibir orientación y buscar ayuda adicional. 
                            Aprovecha recursos como tutorías y grupos de estudio para mejorar tus habilidades académicas. Mantén una organización efectiva y considera 
                            hablar con tu orientador escolar para obtener apoyo adicional y explorar soluciones a tus problemas.
                        </p>
                    </div>
                </div>
                <div class="faq mt-4 border-2 border-[#804422] text-[#804422] bg-[#F2E9D8] flex flex-col justify-center p-4 rounded-xl hover:cursor-pointer">
                    <div id="pregunta" class="flex justify-between julius-sans-one-regular items-center">
                        <h1 class="font-semibold">¿Cómo puedo saber si mi hijo está en riesgo de deserción?</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: #804422;transform: ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </div>
                    <div id="respuesta" class="mt-3 max-h-0 overflow-hidden answer">
                        <p class="archivo-narrow text-start">
                            Para detectar si tu hijo está en riesgo de deserción escolar, mantén un ojo en señales como cambios repentinos en su rendimiento académico, 
                            falta de interés en la escuela, ausentismo frecuente y problemas de conducta. Mantén una comunicación abierta con él y busca apoyo adicional 
                            si notas signos preocupantes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
