

<header class="flex justify-between pt-4 pb-4 p-6 items-center font-">
    <div class="text-white flex items-center gap-3">
        <div class="border rounded-full p-2 bg-[#1D7373]">
            <img src="../../public/colegio_blanco.png" alt="" class="h-8 w-auto "/> 
        </div>
        <h2 class="julius-sans-one-regular text-xl">PROYECTA TU VIDA</h2>
    </div>
    <div class="text-white julius-sans-one-regular text-lg">
        <a href="#">Informacion</a>
        <a href="" class="ml-14">Servicios</a>
        <a href="../pages/login.astro" class="ml-14 mr-10">Inicia Sesion</a>
    </div>
</header>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@900&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
	
	.julius-sans-one-regular {
		font-family: "Julius Sans One", sans-serif;
		font-weight: 400;
        font-style: normal;
	}
	.archivo-narrow {
		font-family: "Archivo Narrow", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
	
</style>