<script src="../js/validation.js"></script>

<header class="flex justify-between pt-4 pb-4 p-6 items-center font-">
    <div class="text-white flex items-center gap-3">
        <div class="border rounded-full p-2 bg-[#0B0A0D]">
            <img src="../../public/colegio_blanco.png" alt="" class="h-8 w-auto "/> 
        </div>
        <h2 class="julius-sans-one-regular text-xl">PROYECTA TU VIDA</h2>
    </div>
    <div class="text-white archivo-narrow text-lg">
        <a href="informacion">Informacion</a>
        <a href="" class="ml-14">Servicios</a>
        <a href="login" id="button_login" class="ml-14 mr-10">Inicia Sesion</a>
    </div>
</header>
