
<script src="../js/validation.js"></script>

<header id="arriba" class="flex justify-between pt-4 pb-4 p-6 items-center bg-[#0B0A0D] select-none">
    <div class="text-white flex items-center gap-3">
        <div class="border rounded-full p-2 bg-[#0B0A0D]">
            <img src="../../public/colegio_blanco.png" alt="" class="h-8 w-auto "/> 
        </div>
        <h2 class="julius-sans-one-regular text-xl">Futuro en Marcha</h2>
    </div>
    <div class="text-white archivo-narrow text-lg flex justify-around">
        <div class="flex">
            <img src="../../public/info.svg" alt="">
            <a id="faqbut" class="ml-2 cursor-pointer">FAQ</a>
        </div>
        <div class="flex">
            <img src="../../public/cliente.png" alt="" class="ml-14 size-6">
            <a id="servbut" class="ml-2 cursor-pointer">Servicios</a>
        </div>
        <div class="flex" id="account">
            <img src="../../public/login_logo.svg" id="img" alt="" class="ml-14">
            <a href="login" id="button_login" class="ml-2 mr-10">Inicia Sesión</a>
        </div>
        
    </div>
</header>
