---
interface Props {
	tittle: string;
}
const {tittle} = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{tittle}</title>
	</head>
	<body class="bg-[#001C13] m-0 p-0">
		<slot />
	</body>
</html>

